__pycache__
results/*
output/*
raw/
subset/
wandb/

latex/main.aux
latex/main.bbl
latex/main.blg
latex/main.fdb_latexmk
latex/main.fls
latex/main.log
latex/main.out
latex/main.pdf
latex/main.synctex.gz
